body {
    background-image: url('../image/AllofType/back-2.png');
    background-size: cover;
}

main {
    background-color: rgba(197, 197, 197, 0.6);
}

img{
    vertical-align: top;
}

.line {
    width: 100%;
}

.line1 {
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh
}

.btn{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 240%;
    margin: 2%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);
}

p {
    color: #f4f4f4;
    font-family: 'SCDream6';
}

button > p{
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

hr{
    width: 95%;
    border: solid white 2px;
}

.first-hr {
    margin-top: 1%;
    margin-left: 2.5%;
}

.last-hr {
    margin-top: 10%;
    margin-left: 2.5%;
}

.text {
    position: absolute;
    bottom: 10%;
    font-size: 200%;
    color: #f4f4f4;
    left: 34%;
}

.line-group {
    height: 30%;
}

.Gyumin {
    position: absolute;
    background: url('../image/AllofType/m-letter.png') no-repeat;
    transform:rotate(10deg);
    top: 300px;
    left: 300px;
    height: 239px;
    width: 205px;
    border: none;
}

.Dongjin {
    position: absolute;
    background: url('../image/AllofType/m-letter.png') no-repeat;
    transform:rotate(-5deg);
    top: 320px;
    left: 600px;
    height: 239px;
    width: 205px;
    border: none;
}

.Huido {
    position: absolute;
    background: url('../image/AllofType/m-letter.png') no-repeat;
    transform:rotate(-5deg);
    top: 310px;
    left: 900px;
    height: 239px;
    width: 205px;
    border: none;
}

.Juwon {
    position: absolute;
    background: url('../image/AllofType/m-letter.png') no-repeat;
    transform:rotate(-5deg);
    top: 280px;
    right: 500px;
    height: 239px;
    width: 205px;
    border: none;
}

.Dahye {
    position: absolute;
    background: url('../image/AllofType/w-letter.png') no-repeat;
    transform:rotate(0deg);
    bottom: 215px;
    left: 300px;
    height: 239px;
    width: 205px;
    border: none;
}

.Nayeon {
    position: absolute;
    background: url('../image/AllofType/w-letter.png') no-repeat;
    transform:rotate(5deg);
    bottom: 190px;
    left: 620px;
    height: 239px;
    width: 205px;
    border: none;
}

.Seokyong {
    position: absolute;
    background: url('../image/AllofType/w-letter.png') no-repeat;
    transform:rotate(-5deg);
    bottom: 210px;
    left: 930px;
    height: 239px;
    width: 205px;
    border: none;
}

.Haeun {
    position: absolute;
    background: url('../image/AllofType/w-letter.png') no-repeat;
    transform:rotate(-5deg);
    bottom: 250px;
    right: 440px;
    height: 239px;
    width: 205px;
    border: none;
}