*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/image/gestbook/background/나연.png);
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}

div{
    position: relative;
}
p{
    color: white;
}
.bg{
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}
.bg:after{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    z-index: -1;
}
.chat_wrap{
    width: 100%;
    
}

.header{
    /* filter: blur(5px); */
    position: sticky;
	bottom: 15%;
	text-align: center;
    width: 100%;
    z-index: 2;
}

hr{
    width: 95%;
    border: solid white;
    margin-top: 3%;
    margin-left: 2.5%;
}

.chat_wrap .chat{
    /* filter: blur(5px); */
	/* margin-bottom: 1%; */
    width: auto;
    height: auto;
    /* display: grid; */
}
/* .chat_wrap .chat::after{
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
} */

/*.chat1-1{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: solid white 2.3px;
    border-radius: 9px;
    width: 55%;
    float: left;
    padding: 7px 12px;
    max-width: 47%;
    margin-left: 7%;
    z-index: 2;
} */
/*.chat1-2{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border: solid white 2.3px;
    border-radius: 9px;
    width: 55%;
    float: right;
    padding: 7px 12px;
    max-width: 47%;
    margin-right: 8%;
    z-index: 2;
} */

.chat2{
    /* display: inline-block; */
    background-color: rgba(204,134,134,0.85);
    border-radius: 9px;
    width: auto;
    left: 1px; top: -80px; z-index: 1;
    float: left;
    padding: 7px 12px;
    max-width: 53%;
    margin-top: 10%;
    margin-left: 7%;
    /* word-break: break-all; */
}

.chat3{
    /* display: inline-block; */
    background-color: rgba(141,202,206,0.85);
    border-radius: 9px;
    width: auto;
    right: -1px; top: -80px; z-index: 1;
    float: right;
    padding: 7px 12px;
    max-width: 47%;
    margin-top: 3%;
    margin-right: 7%;
    word-break: break-all;
}

.input-div{
    display: inline-block;
    /* display: grid; */
    position: sticky;
	bottom: 15%;
	text-align: center;
    width: 100%;
    z-index: 2;
}
/* .input-div::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
} */
.input-div > textarea {
    float: left;

    width: 53%;
    max-height: 30%;
    margin-left: 8%;
    margin-top: 2.5%;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    background-color: rgba(255, 255, 255, 0.4);
    border: solid white 3px;
	border-radius: 10px;

    color: white;
	font-size: 150%;
    line-height: 200%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    
    resize: none;
    outline: none;
    /* overflow: hidden; */
    overflow-y: scroll;
}
.input-div > textarea::placeholder{
    /* align-content: flex-end; */
    font-family: SCDream3;
    color: white;
    /* padding: 1.5%; */
    text-shadow: 1px 2.5px 1.5px rgba(0,0,0,0.3);
}
/* .input-div > textarea, .input-div::after {
    border: solid white 3px;
    font: inherit;
    padding: 0.5rem;
    grid-area: 1 / 1 / 2 / 2;
} */


.text{
    text-shadow: 1px 1.5px 1px rgba(0,0,0,0.3);
    font-family: 'SCDream4';
    font-size: 140%;
    line-height: 130%;
    text-align: center;
    margin: 0;
}
.from{
    font-size: 80%;
    font-family: 'SCDream4';
    text-shadow: 1px 2.5px 1.5px rgba(0,0,0,0.3);
    text-align: right;
    margin-right: 3%;
}

.tag{
    float: right;
	width: auto;
	padding: 0px;
    margin-right: 5%;
    margin-bottom: 1%;
}
.name{
    font-family: 'Watermelon';
    font-size: 1300%;
    padding: 0;
    float: left;
}
.type{
    font-family: 'Watermelon';
    font-size: 620%;
    padding: 0;
    margin-top: 19%;
    float: right;
}