    body {
        background-image: url('../image/typeLine/image40.png');
        background-size: cover;
        background-repeat: no-repeat;
        /* overflow: hidden; */
    }

    .container {
        background-color: rgba(238, 238, 238, 0.6); 
        position: absolute;
        backdrop-filter: blur(5px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    /*  scrollbar   */
    .container::-webkit-scrollbar {
        display: none;  /*스크롤 기능 없애기 */
    }   
    /* .container::-webkit-scrollbar {
        width: 8px;
    }
    
    .container::-webkit-scrollbar-thumb {
        height: 30%; 
        background-color: var(--main-color1); 스크롤바의 색상    
        border-radius: 10px;
    }
    
    .container::-webkit-scrollbar-track {
        background: rgba( 255, 255, 255, 0.5); 스크롤바 뒷 배경 색상
    }*/

    .container-inner {
        opacity: 0;
        transition: opacity 1s ease-in;
        margin-top: 124px; 
        margin-bottom: 20px; 
    }
    .container-inner.fade-in {
        opacity: 1;
    }
    .contaier-inner {
        width: 500px;
        height: 500px;
    }
    /*  header  */
    .title {
        position: relative;
        top: 20px;
        right: -375px;
    }
    .subTitle {
        position: relative;
        right: -25.5%;
        font-family: 'Sokcho';
        font-weight: lighter;
        font-size: 30px;
        color: #FF8888;   
    }
    .name {
        font-family: 'SCDream3';
        font-weight: lighter;
        font-size: 96px;
        color: #ffffff;
        text-shadow: 
                0.5px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .hashtag {    
        position: relative;
        right: -15%;
        top: 10px;
        font-family: 'URiDdar';
        font-weight: lighter;
        font-size: 48px;
        color: #ffffff;
        text-shadow: 
                0.5px 2px 4px rgba(0, 0, 0, 0.25);
    }
    /*  유형별  */
    .Nayeon {
        right: -25%;
    }
    .hashtag .highlight {
        color: #ff6666;
        font-family: inherit;
    }

    /*  section  */
    .content {
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        margin-top: 422px;
        left: 50%;
        padding: 20px 130px 20px 130px;
        transform: translate(-50%, -50%);

        border-radius: 20px;
        border: #ffffff 3px solid;
    }
    .result {
        list-style:none;
        color: #ffffff;

        font-family: 'SCDream5';
        font-size: 32px;
        text-align: center;
        text-shadow: 
        -1.5px 2px 0.1px rgba(0, 0, 0, 0.25); 

        padding: 10px;
    }
    .result .highlight2 {
        color: #ff6666;
    }

    /*  footer  */
    footer {
        position : absolute;
        bottom : 0;
    }
    .button {
        position: absolute;
        margin-top: 90px;
    }
    .type {
        position: relative;
        margin-bottom: 32px;
        margin-left: 650px;
        font-weight: lighter;
        padding: 15px 100px;
        border-radius: 9px;
        
        background-color: rgba(204,134,134,0.85);
        width: 619px;
        height: 84px;
        cursor : pointer;

        color: #ffffff;
        font-family: 'SCDream6';
        font-size: 30px;
        font-weight: lighter;

        border: none;
    }
    .type::before {
        content: '';
        display: block;
        position: absolute;
        left: -0.5px;
        top: -4.5px;
        width: 100%;
        height: 100%;
        border: 4px solid white;
        border-radius: inherit;
        box-sizing: border-box;
        pointer-events: none;
    }
    .typing {
        background-color: rgba(141,202,206,0.85);
        margin-bottom: 144px;
    }
    .total:hover {
        background-color: rgba(184, 121, 121, 0.85);
    }
    .typing:hover {
        background-color: rgba(127, 182, 185, 0.85);    
    }

