/* 기초 설정 */
body {
    background-image: url('../image/AllofType/back-2.png');
    background-size: cover;
}
main {
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.4); 
    backdrop-filter: blur(5px);
}

/* header */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    margin: 2.5vh 4.5vw;

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);
}
button > p{
    color: black;
    font-family: 'SCDream6';  
    font-size: 3vh;
    margin: 1vw;
}
.btn:hover{
    filter: invert(71%) sepia(7%) saturate(1966%) hue-rotate(314deg) brightness(85%) contrast(85%);
}
.btn:active{
    filter: invert(95%) sepia(3%) saturate(5582%) hue-rotate(147deg) brightness(90%) contrast(76%);
}

/* hr */
hr{
    width: 95%;
    border: solid white 2px;
    margin-left: auto;
    margin-right: auto;
}

/* content */
.content {
    height: 80vh;
}
.line-group {
    height: 30vh;
}
.line {
    width: 95%;
    margin: 7vh 2.5%;
}   

.text {
    position: absolute;
    font-family: 'SCDream5';
    font-size: 3vh;
    color: #f4f4f4;
    bottom: 2.5vh;
    left: 4.3vw;
}
.Gyumin {
    position: absolute;
    background: url('../image/AllofType/m-letter.png');
    background-size: contain;
    transform:rotate(8deg);
    width: 12vw;
    height: 25vh;
    top: 26vh;
    left: 16vw;
    border: none;
}
.Dongjin {
    position: absolute;
    background: url('../image/AllofType/m-letter.png');
    background-size: contain;
    transform:rotate(-3deg);
    width: 12vw;
    height: 25vh;
    top: 27vh;
    left: 35vw;
    border: none;
}
.Huido {
    position: absolute;
    background: url('../image/AllofType/m-letter.png');
    background-size: contain;
    transform:rotate(-1deg);
    width: 12vw;
    height: 25vh;
    top: 25vh;
    left: 53vw;
    border: none;
}
.Juwon {
    position: absolute;
    background: url('../image/AllofType/m-letter.png');
    background-size: contain;
    transform:rotate(2%);
    width: 12vw;
    height: 25vh;
    top: 21vh;
    left: 72vw;
    border: none;
}

.Dahye {
    position: absolute;
    background: url('../image/AllofType/w-letter.png');
    background-size: contain;
    transform:rotate(2%);
    width: 12vw;
    height: 25vh;
    top: 55vh;
    left: 16vw;
    border: none;
}
.Nayeon {
    position: absolute;
    background: url('../image/AllofType/w-letter.png');
    background-size: contain;
    transform:rotate(5deg);
    width: 12vw;
    height: 25vh;
    top: 57vh;
    left: 37vw;
    border: none;
}
.Seokyong {
    position: absolute;
    background: url('../image/AllofType/w-letter.png');
    background-size: contain;
    transform:rotate(2deg);
    width: 12vw;
    height: 25vh;
    top: 54vh;
    left: 57vw;
    border: none;
}
.Haeun {
    position: absolute;
    background: url('../image/AllofType/w-letter.png');
    background-size: contain;
    transform:rotate(-7deg);
    width: 12vw;
    height: 25vh;
    top: 50vh;
    left: 75vw;
    border: none;
}