*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    vertical-align: top;
}
ol, ul, li{
    list-style: none;
}

body{
    -ms-overflow-style: none;
    min-height: 100vh;
}
::-webkit-scrollbar{
    display: none;
}

div{
    position: relative;
}
p{
    color: white;
}

.bg{
    background-size: 100vw;
    position: absolute;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.bg::after{
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header{
    top: 0;
    position: sticky;
	bottom: 15%;
	text-align: center;
    width: 100%;
    z-index: 2;
}

button{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 240%;
    margin: 2%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);
}
button > p{
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover{
    filter: invert(71%) sepia(7%) saturate(1966%) hue-rotate(314deg) brightness(85%) contrast(85%);
}
button:active{
    filter: invert(95%) sepia(3%) saturate(5582%) hue-rotate(147deg) brightness(90%) contrast(76%);
}
.btn{
    margin-left: 5%;
    margin-left: 5%;
}

hr{
    width: 95%;
    border: solid white 2px;
    margin-top: 1%;
    margin-left: 2.5%;
}

.chat_wrap{
    display: inline-block;
    width: 100vw;
    height: 58vh;
    background-attachment: scroll;
    overflow: auto;
}
.chat{
    border-radius: 9px;
    width: auto;
    height: auto;
}
.chat::before{
    content: '';
    display: block;
    position: absolute;
    left: -8.5px;
    top: -8.5px;
    width: 100%;
    height: 100%;
    border: 2.3px solid white;
    border-radius: inherit;
    box-sizing: border-box;
    pointer-events: none;
}
.red{
    display: grid;
    background-color: rgba(204,134,134,0.85); 
    vertical-align: top;
    float: left;
    padding: 7px 12px;
    width: auto;
    max-width: 47%;
    min-width: 15%;
    min-height: 9%;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 46%;
    word-break: break-all;
}
.blue{
    display: grid;
    background-color: rgba(141,202,206,0.85);
    float: right;
    padding: 7px 12px;
    width: auto;
    max-width: 47%;
    min-width: 15%;
    min-height: 9%;
    margin-top: 2%;
    margin-right: 7%;
    margin-left: 46%;
    word-break: break-all;
}

span{
    color: white;
}

.input-div{
    display: inline-block;
    position: sticky;
    top: 0;
	bottom: 10%;
	text-align: center;
    width: 100%;
    height: 30%;
    z-index: 2;
}
.input-div > #chat-input {
    float: left;
    width: 50%;
    margin-left: 5.5%;
    margin-right: 1.5%;
    margin-top: 4%;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background-color: rgba(0, 0, 0, 0.4);
    border: solid black 3px;
	border-radius: 10px;

    color: black;
	font-size: 300%;
    line-height: 125%;
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(70deg) brightness(108%) contrast(101%);
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
    
    caret-color: black;
    resize: none;
    outline: none;
    overflow: hidden;
    overflow-y: scroll;
}
.input-div > #chat-input::placeholder{
    font-family: SCDream4;
    color: black;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
}
.input-div > #chat-input:hover{
    filter: invert(85%) sepia(6%) saturate(95%) hue-rotate(335deg) brightness(98%) contrast(97%);
}
.input-div > #chat-input:focus{
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(70deg) brightness(108%) contrast(101%);
}
.input-div > #send{
    background-color: rgba(0, 0, 0, 0.4);
    border: solid black 3px;
	border-radius: 10px;
    width: 6%;
    color: black;
	font-size: 180%;
    line-height: 485%;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);
    margin: 0;
    margin-top: 4%;
    
}
.input-div > #send:hover{
    filter: invert(85%) sepia(6%) saturate(95%) hue-rotate(335deg) brightness(98%) contrast(97%);
}
.input-div > #send:active{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


.text{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
    font-family: 'SCDream4';
    width: auto;
    font-size: 140%;
    line-height: 130%;
    text-align: center;
}
.from{
    color: white;
    font-size: 90%;
    font-family: 'SCDream4';
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
    text-align: right;
    margin-top: 1%;
    margin-right: 2.5%;
    margin-bottom: 1%;
}

.tag{
    float: right;
	width: auto;
	padding: 0px;
    margin-right: 5%;
    margin-bottom: 1%;
}
.name{
    font-family: 'Watermelon';
    font-size: 1600%;
    float: left;
}
.type{
    font-family: 'Watermelon';
    font-size: 800%;
    padding: 0;
    margin-top: 18%;
    float: right;
}