/* gestbook 기초 설정 */
* { 
    box-sizing: border-box; 
}
body {
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.4); 
    backdrop-filter: blur(12px);
}
/* 스크롤바 없애기 */
::-webkit-scrollbar {
    display: none;
}

/* header */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    margin: 2.5vh 4.5vw;

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);
}
button > p {
    color: black;
    font-family: 'SCDream6';  
    font-size: 3vh;
    margin: 1vw;
}
button:hover {
    filter: invert(71%) sepia(7%) saturate(1966%) hue-rotate(314deg) brightness(85%) contrast(85%);
}
button:active {
    filter: invert(95%) sepia(3%) saturate(5582%) hue-rotate(147deg) brightness(90%) contrast(76%);
}

hr {
    width: 95%;
    border: solid white 2px;
    margin-left: auto;
    margin-right: auto;
}

/* content */
.chat_wrap {
    width: 100vw;
    height: 60vh;
    background-attachment: scroll;
    overflow: auto;
}
.chat {
    border-radius: 9px;
    width: auto;
    height: auto;
}
.chat::before {
    content: '';
    display: block;
    position: absolute;
    left: -8.5px;
    top: -8.5px;
    width: 100%;
    height: 100%;
    border: 2.3px solid white;
    border-radius: inherit;
    box-sizing: border-box;
    pointer-events: none;
}
.red {
    display: grid;
    background-color: rgba(204,134,134,0.85); 
    vertical-align: top;
    float: left;
    padding: 7px 12px;
    width: auto;
    max-width: 47%;
    min-width: 15%;
    min-height: 9%;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 46%;
    word-break: break-all;
}
.blue {
    display: grid;
    background-color: rgba(141,202,206,0.85);
    float: right;
    padding: 7px 12px;
    width: auto;
    max-width: 47%;
    min-width: 15%;
    min-height: 9%;
    margin-top: 2%;
    margin-right: 7%;
    margin-left: 46%;
    word-break: break-all;
}
.text {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
    font-family: 'SCDream4';
    width: auto;
    font-size: 140%;
    line-height: 130%;
    text-align: center;
}
.from {
    color: white;
    font-size: 90%;
    font-family: 'SCDream4';
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
    text-align: right;
    margin-top: 1%;
    margin-right: 2.5%;
    margin-bottom: 1%;
}

/* input-div */
.input-div { 
    height: 20vh;
    z-index: 2;
}
.input-div > #chat-input {
    float: left;
    width: 55vw;
    height: 15vh;
    padding: 1%;
    margin: 2vh 1vw auto 4.5vw;

    background-color: rgba(0, 0, 0, 0.4);
    border: solid black 3px;
	border-radius: 10px;

    color: black;
	font-size: 2.4vw;
    line-height: 5.3vh;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(70deg) brightness(108%) contrast(101%);
    
    resize: none;
    outline: none;
    overflow-y: scroll;
    overflow: hidden;
}
.input-div > #chat-input::placeholder {
    font-family: SCDream4;
    color: black;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
}
.input-div > #chat-input:hover {
    filter: invert(85%) sepia(6%) saturate(95%) hue-rotate(335deg) brightness(98%) contrast(97%);
}
.input-div > #chat-input:focus {
    filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(70deg) brightness(108%) contrast(101%);
}

.input-div > #send {
    width: 6vw;
    height: 15vh;
    margin: 2vh auto;

    background-color: rgba(0, 0, 0, 0.4);
    border: solid black 3px;
	border-radius: 10px;
    
    color: black;
	font-size: 1.8vw;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.45);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(111%) contrast(101%);    
}
.input-div > #send:hover {
    filter: invert(85%) sepia(6%) saturate(95%) hue-rotate(335deg) brightness(98%) contrast(97%);
}
.input-div > #send:active {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.tag {
    float: right;
    margin: 0 5vw 0 0;
}
.name {
    float: left;
    font-family: 'Watermelon';
    font-size: 20vh;
    color: white;
}
.type {
    float: right;
    font-family: 'Watermelon';
    font-size: 10vh;
    margin-top: 18%;
    color: white;
}