* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('../image/AllofType/loading-page.png');
    background-size: cover;  
}

.loading {
    background-color: rgba(197, 197, 197, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading-title::before {
    content: "";
    position: absolute;
}

.loading-title {
    font-family: 'GaRam'; 
    text-shadow: -1px 0 #666666,	       
    0 1px #666666,	       
    1px 0 #666666,	       
    0 -1px #666666,
    2.3px 2px 1px #444444,
    10px 2px 4px rgba(159,159,159,0.5);
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 120px;
    font-weight: 600;
    line-height: 1.3333;
}

.progress-bar {
    position: relative;
    width: 800px;
    height: 12px;
    border-radius: 100px;
    background-color: rgba(192,24,24,0.2);
    overflow: hidden;
}

.progress-bar-gauge {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 80px;
    background-color: #C01818;
}
