/* 기초 설정 */
body {
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    background-color: rgba(120, 120, 120, 0.5);
    backdrop-filter: blur(3px);
}
p, a {
    text-align: center;
    color: #fff;
}

/* header progress */
.header {
   padding: 4rem 0;
}
.progress {
    height: 0.15rem;
    width: 100%;
    position: relative;
    background-color: #fff;
}
.progress .progress-inner {
    background-color: #FF6969;
    height: 0.15rem;
}

/* main body */
.game-body {
    width: 45vw;
    margin: 2vh auto 2vh;
}
/* main body - title */
.question-title {
    height: 23vh;
    
    /* 가운데 정렬을 위한 */
    display: flex;      
    align-items: center;
    justify-content: center;

    border: #fff solid;
    border-radius: 1.4vw;
    background-color: rgba(233, 233, 233, 0.2);
    margin-bottom: 7vh;
}
.question-title p {
    font-size: 1.4vw;
}
/* main body - option */
.question-option {
    display: grid;
    grid-template-columns: 1fr 9fr;     /* fr : 비율 */
    grid-template-rows: 10fr 1fr;
    
    border: none;
    background: none;
    margin: 4rem 0 4rem;
}
.option-header {
    width: 6.5vw;
    align-self: self-end;
    grid-row: 1 / span 2;
}
.option-content {
    font-size: 1.4vw;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.option-line {
    width: 100%;
    align-self: self-end;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
/* main body - option - hover */
.question-option:hover .option-header[alt*="B"] {
    content: url('../image/question/Group 33.png'); 
}
.question-option:hover .option-line[alt*="B"] {
    content: url('../image/question/Line 3.png'); 
}
.question-option:hover .option-header[alt*="R"] {
    content: url('../image/question/Group 34.png'); 
}
.question-option:hover .option-line[alt*="R"] {
    content: url('../image/question/Line 13.png'); 
}
.question-option:hover .option-content {
    color: #6c6c6c;
}