body {
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

/* container */
.container {
    background-color: rgba(238, 238, 238, 0.6); 
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
.container-inner {
    width: 50vw;
    margin: auto;
}
.container-inner {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.container-inner.fade-in {
    opacity: 1;
}
.container::-webkit-scrollbar {
    display: none;  /* 스크롤바 없애기 */
} 

/* header */
.title {
    height: 25vh;
    margin: 10vh auto 5vh;
}
.subTitle {
    font-family: 'Sokcho';
    font-weight: lighter;
    font-size: 1.6vw;
    color: #FF8888;
    text-align: center;
}
.name {
    font-family: 'SCDream3';
    font-weight: lighter;
    font-size: 6vw;
    color: #ffffff;
    text-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.hashtag {
    font-family: 'URiDdar';
    font-weight: lighter;
    font-size: 3vw;
    color: #ffffff;
    text-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.hashtag .highlight {
    color: #ff6666;
    font-family: inherit;
}

/*  content  */
.content {
    background-color: rgba(255, 255, 255, 0.2);
    border: #ffffff 3px solid;
    border-radius: 20px;
    padding: 6vh;
    margin: 5vh 0;
}
.result {
    font-family: 'SCDream5';
    color: #ffffff;
    font-size: 3vh;
    text-align: center;
    text-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.25); 
    padding: 1vh;
}
.result .highlight2 {
    color: #ff6666;
}

/*  footer  */
.footer {
    text-align: center;
    margin: 7vh;
}
.type {
    position: relative;
    width: 38vw;
    height: 9vh;
    margin: 2vh 0;

    color: #ffffff;
    font-family: SCDream5;
    font-size: 1.6vw;
        
    border: 0.4vh solid white;
    background-color: transparent;
    border-radius: 9px; 
}
.type.total::before{
    content: '';
    position: absolute;     /* 위치를 상대적으로 설정 */
    z-index: -1; /* 요소를 뒤로 보내기 */
    width: 100.5%;    height: 105%;
    top: 0.5vh; left: 0.3vw;
    border-radius: inherit;
    background-color: rgba(204,134,134,0.7);
}
.typing::before {
    content: '';
    position: absolute;
    z-index: -1; 
    width: 100.5%;    height: 105%;
    top: 0.5vh; left: 0.3vw;
    border-radius: inherit;
    background-color: rgba(137, 194, 198, 0.7);
}

.total:hover::before {
    background-color: rgba(184, 121, 121, 0.7);
}
.typing:hover::before {
    background-color: rgba(127, 182, 185, 0.7);    
}