body {
    background-image: url('../image/typeLine/image40.png');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*  main  */
.container {
    background-color: rgba(200, 200, 200, 0.5); 
    backdrop-filter: blur(5px);
    position: absolute;
    width: 70vw;
    height: 30vh;
    padding: 35vh 15vw;
}

.saying{
    opacity: 0;
    transition: opacity 2s ease-in;
    /* transform: translate(-50%, -50%); */

    font-size: 6.5vw;
    font-family: 'GaRam';
    font-weight: lighter;
    color: #F1FEFF;
    text-shadow: -1px 0 #666666,	       
                0 1px #666666,	       
                1px 0 #666666,	       
                0 -1px #666666,
                2px 2px 1px #000000,
                -2.2px -2px 4px #b0fefe;
}
.saying.bottom {
    text-align: right;
}
.saying.fade-in {
    opacity: 1;
}